@font-face {
  font-family: 'Retronoid-title';
  src: url('../assets/fonts/retronoid-title/Retronoid-n8vY.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Superlegendboy-text';
  src: url('../assets/fonts/valorant/val.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
